@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Syne Mono", monospace;
  background-color: whitesmoke; /* easier for the eyes */
}

#title {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
}

h1 {
  display: inline;
}
.upload {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#output {
  /* css id / id css / selecty by id css */
  padding: 1%;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(245, 245, 245, 0.8); /* opacity backgroud */
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* don't understand why but works */
}

/* Image container */
.image-container {
  margin: 10px 20%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

.footer {
  background-color: brown;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer button { /* So that i don't style other buttons  */
  margin: 0.5%;
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: antiquewhite;
  background-color: #333;
  outline: none; 
  padding: 1% 1rem;
}

#top {
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding: 0.3rem;

}


/* MOBILE RESPONSIVE Media Query: Tablet or Smaller  */
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  .image-container {
    margin: 10px 8%; /* reduce margin on mobile */
  }

  #top {
    font-size: 0.6rem;
}
}
