@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Syne Mono", monospace;
  background-color: whitesmoke; /* easier for the eyes */
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
}
.upload {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(245, 245, 245, 0.8); /* opacity backgroud */
}

#output {
  /* css id / id css / selecty by id css */
  padding: 1%;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(245, 245, 245, 0.8); /* opacity backgroud */
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* don't understand why but works */
}

/* Image container */
.image-container {
  margin: 10px 20%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

/* MOBILE RESPONSIVE Media Query: Tablet or Smaller  */
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 1rem;
  }

  .image-container {
    margin: 10px 8%; /* reduce margin on mobile */
  }
}
